tensorboardX
contexttimer
decord
diffusers<=0.16.0
einops>=0.4.1
fairscale==0.4.4
ftfy
iopath
ipython
omegaconf
opencv-python==4.6.0.66
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
timm==0.4.12
tqdm
transformers==4.33.2
webdataset
wheel
soundfile
moviepy
nltk
peft
easydict
pyyaml_env_tag
open3d
protobuf
accelerate
pydantic
prompt-toolkit